@use '../util' as *;

.header {
    margin-top: rem(36);
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(medium){ /* we only want grid for desktop */
        justify-content: space-between;
        align-items: center;
    }

    &__subtitle{
        font-size: rem(14);
        font-weight: 700; /* bold */
        color: var(--text-color2);
    }

    &__title{
        width: 100%;
        @include breakpoint(medium){
            width: auto;
        }
    }
}